@import "tailwindcss";
@import "../styles/variables.css";
@import "../styles/base.css";
@import "../styles/components.css";
@import "../styles/sections.css";

@theme inline {
  --color-background: var(--color-page-bg);
  --color-foreground: var(--color-text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-raleway: var(--font-raleway);
}
